/* CSS file for Health Care Economics grapher */

.y-values {
  display: flex;
  justify-content: space-between;
}

.y-values input {
  width: 5em;
  padding: 5px;
  box-sizing: border-box;
}

.chart-controls #x-value-slider {
  width: 100%;
  margin-top: 20px;
}